.cardContainer {
  height: 500px;
  width: 300px;
  /*background-color: red;*/
  /*color: red;*/
}
.leftContainer {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
}
.buttonContain {
  display: flex;
  justify-content:flex-start;
}
.marginBottom {
  .margin-top:100px;
}
